<a href="https://colab.research.google.com/github/nalrob/Aprendizaje-Automatico/blob/main/Tarea_2_DM_lastversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt #Data Visualization
import seaborn as sns  #Python library for Vidualization
import os

In [39]:
df = pd.read_csv('/content/energy_dataset.csv')
df.head(10)

,date,generation_biomass,generation_fossil_hard_coal,generation_fossil_oil,generation_nuclear,generation_other_renewable,generation_solar,generation_waste,price_actual
0,2015-01-01 00:00:00+01:00,447.0,4821.0,162.0,7096.0,73.0,49.0,196.0,65.41
1,2015-01-01 01:00:00+01:00,449.0,4755.0,158.0,7096.0,71.0,50.0,195.0,64.92
2,2015-01-01 02:00:00+01:00,448.0,4581.0,157.0,7099.0,73.0,50.0,196.0,64.48
3,2015-01-01 03:00:00+01:00,438.0,4131.0,160.0,7098.0,75.0,50.0,191.0,59.32
4,2015-01-01 04:00:00+01:00,428.0,3840.0,156.0,7097.0,74.0,42.0,189.0,56.04
5,2015-01-01 05:00:00+01:00,410.0,3590.0,156.0,7098.0,74.0,34.0,188.0,53.63
6,2015-01-01 06:00:00+01:00,401.0,3368.0,158.0,7098.0,74.0,34.0,186.0,51.73
7,2015-01-01 07:00:00+01:00,408.0,3208.0,160.0,7099.0,72.0,35.0,189.0,51.43
8,2015-01-01 08:00:00+01:00,413.0,3335.0,161.0,7098.0,73.0,54.0,198.0,48.98
9,2015-01-01 09:00:00+01:00,419.0,3437.0,163.0,7097.0,74.0,743.0,198.0,54.20

In [41]:
df_sel = ['generation_biomass', 'generation_fossil_hard_coal', 'generation_fossil_oil', 'generation_nuclear', 'generation_other_renewable', 'generation_solar', 'generation_waste', 'price_actual']

BaseAumentada = df[df_sel]

In [42]:
BaseAumentada.head(10)

,generation_biomass,generation_fossil_hard_coal,generation_fossil_oil,generation_nuclear,generation_other_renewable,generation_solar,generation_waste,price_actual
0,447.0,4821.0,162.0,7096.0,73.0,49.0,196.0,65.41
1,449.0,4755.0,158.0,7096.0,71.0,50.0,195.0,64.92
2,448.0,4581.0,157.0,7099.0,73.0,50.0,196.0,64.48
3,438.0,4131.0,160.0,7098.0,75.0,50.0,191.0,59.32
4,428.0,3840.0,156.0,7097.0,74.0,42.0,189.0,56.04
5,410.0,3590.0,156.0,7098.0,74.0,34.0,188.0,53.63
6,401.0,3368.0,158.0,7098.0,74.0,34.0,186.0,51.73
7,408.0,3208.0,160.0,7099.0,72.0,35.0,189.0,51.43
8,413.0,3335.0,161.0,7098.0,73.0,54.0,198.0,48.98
9,419.0,3437.0,163.0,7097.0,74.0,743.0,198.0,54.20

Competitive learning sin libreria

In [43]:
# STEP 2. ALGORITHM.


m = BaseAumentada.shape[0]
n = BaseAumentada.shape[1]
pertenencia = np.zeros(m)
neuronas = np.zeros((3, n))
promedio = np.zeros((1, n))
minimo = np.zeros((1, n))
maximo = np.zeros((1, n))

# Initialize the locations.
for i in range(n):
    minimo[0, i] = np.min(BaseAumentada.iloc[:, i])

for i in range(n):
    maximo[0, i] = np.max(BaseAumentada.iloc[:, i])

for i in range(n):
    promedio[0, i] = np.mean(BaseAumentada.iloc[:, i])

neuronas[0, :] = minimo[0, :]
neuronas[1, :] = promedio[0, :]
neuronas[2, :] = maximo[0, :]

# Synaptic Potential
h = np.zeros((1, 3))
base = BaseAumentada.values

# Cluster
cluster = np.zeros((1, 3))

for k in range(3):
    cluster = np.zeros((1, 3))

    for i in range(m):
        for j in range(3):
            h[0, j] = np.dot(base[i, :], neuronas[j, :]) - 0.5 * (np.dot(neuronas[j, :], neuronas[j, :]))

        un = 0.5 * (1 - i / m)
        max_val = np.max(h[0, :])

        if h[0, 0] == max_val:
            neuronas[0, :] = neuronas[0, :] + un * (base[i, :] - neuronas[0, :])
            cluster[0, 0] += 1
            pertenencia[i] = 1

        if h[0, 1] == max_val:
            neuronas[1, :] = neuronas[1, :] + un * (base[i, :] - neuronas[1, :])
            cluster[0, 1] += 1
            pertenencia[i] = 2

        if h[0, 2] == max_val:
            neuronas[2, :] = neuronas[2, :] + un * (base[i, :] - neuronas[2, :])
            cluster[0, 2] += 1
            pertenencia[i] = 3

    k += 1

In [44]:
pd.Series(pertenencia).value_counts()

2.0    12956
3.0    11718
1.0    10369
0.0       21
dtype: int64

In [45]:
print(neuronas)

[[ 317.09116734 2606.96604983  254.13349051 5617.55679851   95.11700661
   602.609086    281.88935086   64.54757262]
 [ 343.03847663 4643.89981465  296.39302599 6297.3667035    98.96626183
  3516.80713461  300.31057438   70.0912178 ]
 [ 339.52209866 5282.58710389  293.67340064 5654.75532019   95.31482037
   467.11411557  294.00833609   69.14236927]]

Kmeans sin libreria

In [46]:
#### K Means
# STEP 2. ALGORITHM.


m = BaseAumentada.shape[0]
n = BaseAumentada.shape[1]
pertenencia = np.zeros(m)
neuronas = np.zeros((3, n))
promedio = np.zeros((1, n))
minimo = np.zeros((1, n))
maximo = np.zeros((1, n))

# Initialize the locations.
for i in range(n):
    minimo[0, i] = np.min(BaseAumentada.iloc[:, i])

for i in range(n):
    maximo[0, i] = np.max(BaseAumentada.iloc[:, i])

for i in range(n):
    promedio[0, i] = np.mean(BaseAumentada.iloc[:, i])

neuronas[0, :] = minimo[0, :]
neuronas[1, :] = promedio[0, :]
neuronas[2, :] = maximo[0, :]

# Synaptic Potential
h = np.zeros((1, 3))
base = BaseAumentada.values
accum = np.zeros((3,n))

# Cluster
cluster = np.zeros((1, 3))

for k in range(3):
    cluster = np.zeros((1, 3))

    for i in range(m):
        for j in range(3):
            h[0, j] = np.dot(base[i, :], neuronas[j, :]) - 0.5 * (np.dot(neuronas[j, :], neuronas[j, :]))

        un = 0.5 * (1 - i / m)
        max_val = np.max(h[0, :])

        if h[0, 0] == max_val:
            neuronas[0, :] = neuronas[0, :]  #+ un * (base[i, :] - neuronas[0, :])
            cluster[0, 0] += 1
            pertenencia[i] = 1
            accum[0,:] =(accum[0,:] +  base[i, :]) / cluster[0,0]


        if h[0, 1] == max_val:
            neuronas[1, :] = neuronas[1, :]# + un * (base[i, :] - neuronas[1, :])
            cluster[0, 1] += 1
            pertenencia[i] = 2
            accum[1,:] = (accum[1,:] +  base[i, :]) / cluster[0,1]

        if h[0, 2] == max_val:
            neuronas[2, :] = neuronas[2, :] # + un * (base[i, :] - neuronas[2, :])
            cluster[0, 2] += 1
            pertenencia[i] = 3
            accum[2,:] =(accum[2,:] +  base[i, :]) / cluster[0,2]

    k += 1

In [47]:
print(neuronas)

[[   0.            0.            0.            0.            0.
     0.            0.            9.33      ]
 [ 383.51353973 4256.06574217  298.31978884 6263.90703912   85.63970211
  1432.66592478  269.45213297   57.88402293]
 [ 592.         8359.          449.         7117.          119.
  5792.          357.          116.8       ]]

In [48]:
pd.Series(pertenencia).value_counts()

2.0    32609
3.0     2374
1.0       60
0.0       21
dtype: int64

Neural Gas sin libreria

In [14]:
m = BaseAumentada.shape[0]
n = BaseAumentada.shape[1]
pertenencia = np.zeros(m)
neuronas = np.zeros((3, n))
promedio = np.zeros((1, n))
minimo = np.zeros((1, n))
maximo = np.zeros((1, n))

# Initialize the locations.
for i in range(n):
    minimo[0, i] = np.min(BaseAumentada.iloc[:, i])

for i in range(n):
    maximo[0, i] = np.max(BaseAumentada.iloc[:, i])

for i in range(n):
    promedio[0, i] = np.mean(BaseAumentada.iloc[:, i])

neuronas[0, :] = minimo[0, :]
neuronas[1, :] = promedio[0, :]
neuronas[2, :] = maximo[0, :]

# Synaptic Potential
h = np.zeros((1, 3))
base = BaseAumentada.values
accum = np.zeros((3, n))

# Cluster
cluster = np.zeros((1, 3))

for k in range(3):
    cluster = np.zeros((1, 3))

    for i in range(m):
        for j in range(3):
            h[0, j] = np.dot(base[i, :], neuronas[j, :]) - 0.5 * (np.dot(neuronas[j, :], neuronas[j, :]))

        un = 0.5 * ((0.05 / 0.5) ** (i / m))
        max_val = np.max(h[0, :])
        po = 0.1
        pf = (3 / (1 / 2))  # no neuronas / ( (no epocas) / 2 )
        p = po * ((pf / po) ** (i / m))
        ranking = np.argmax(h) + 1  # Obtener el índice del máximo y sumar 1 para obtener el ranking

        hr = np.exp(-ranking / p)

        if h[0, 0] == max_val:
            neuronas[0, :] = neuronas[0, :] + un * hr * (base[i, :] - neuronas[0, :])
            cluster[0, 0] += 1
            pertenencia[i] = 1
            accum[0, :] = (accum[0, :] + base[i, :]) / cluster[0, 0]

        if h[0, 1] == max_val:
            neuronas[1, :] = neuronas[1, :] + un * hr * (base[i, :] - neuronas[1, :])
            cluster[0, 1] += 1
            pertenencia[i] = 2
            accum[1, :] = (accum[1, :] + base[i, :]) / cluster[0, 1]

        if h[0, 2] == max_val:
            neuronas[2, :] = neuronas[2, :] + un * hr * (base[i, :] - neuronas[2, :])
            cluster[0, 2] += 1
            pertenencia[i] = 3
            accum[2, :] = (accum[2, :] + base[i, :]) / cluster[0, 2]

    k += 1

In [15]:
print(neuronas)

[[4.20258831e+00 1.20250279e+02 7.19930688e+01 1.70703883e+01
  1.34964849e+01 3.25453542e+01 3.99197567e-01 3.59288216e+01
  3.93051109e-01]
 [3.60009969e+00 1.33207415e+02 7.25178155e+01 3.04083082e+01
  1.86904910e+02 3.42737826e+01 5.17196079e-01 3.18360341e+01
  3.90478594e-01]
 [1.34629275e+01 1.88625142e+02 1.09637985e+02 8.29172433e+01
  7.70872929e+02 5.99182805e+01 1.91838071e+00 6.88236677e+01
  9.89452166e-01]]

In [18]:
pd.Series(pertenencia).value_counts()

1.0    538
2.0    220
3.0     10
dtype: int64